#### Notebook to build the code to scrape the following Wikipedia page

In [35]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup

In [2]:
url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [3]:
soup = BeautifulSoup(url, 'html.parser')

In [4]:
postalCodeList = []
boroughList = []
neighborhoodList = []

#### The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [5]:
len(soup)

5

In [6]:
for row in soup.find('table').find_all('tr'):
    cell = row.find_all('td')
    if(len(cell)>0):
        postalCodeList.append(cell[0].text.rstrip("\n"))
        boroughList.append(cell[1].text.rstrip("\n"))
        neighborhoodList.append(cell[2].text.rstrip("\n"))

In [7]:
# postalCodeList

In [9]:
# postalCodeList

In [12]:
df=pd.DataFrame({'postalCodeList':postalCodeList,
             'boroughList':boroughList,
             'neighborhoodList':neighborhoodList})

In [13]:
# Remove Not assigned from dataframe

In [14]:
df.head()

  postalCodeList       boroughList            neighborhoodList
0            M1A      Not assigned
1            M2A      Not assigned
2            M3A        North York                   Parkwoods
3            M4A        North York            Victoria Village
4            M5A  Downtown Toronto  Regent Park / Harbourfront

#### Drop Not assigned.

In [22]:
new_df =df[df.boroughList != 'Not assigned'].reset_index(drop=True)

##### Replace "/" to ","

In [27]:
new_df['neighborhoodList']=new_df.neighborhoodList.str.replace("/",",")

In [29]:
new_df

,postalCodeList,boroughList,neighborhoodList
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park , Harbourfront"
3,M6A,North York,"Lawrence Manor , Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway , Montgomery Road , Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business reply mail Processing CentrE
101,M8Y,Etobicoke,"Old Mill South , King's Mill Park , Sunnylea ,..."
102,M8Z,Etobicoke,"Mimico NW , The Queensway West , South of Bloo..."

##### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [32]:
for index, row in new_df.iterrows():
    if row['neighborhoodList'] == 'Not assigned':
        row['boroughList'] == row['neighborhoodList']
new_df.head()

,postalCodeList,boroughList,neighborhoodList
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park , Harbourfront"
3,M6A,North York,"Lawrence Manor , Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government"

#### In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [33]:
new_df.shape

(103, 3)